{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block content %}
<div class="lead">
    <form action="." method="POST"> {% csrf_token %}
        {{ personal_info_form|crispy }}
        {{ app_data_form|crispy }}
        <p> Please numerically rank your choices for a site placement in order of preference, with 1 being your ideal placement.<p>
          {{site_placement_rank_form|crispy}}
<p>Please add the days and hours you are availble to work. Remember to consider how much assignments and papers you will have to complete and to save some time for them. Only put down days and hours you know you will be avavilbe to work. Work study shifts are a <strong><u>minimum of an hour and a half.</strong></u> Since most sites are off-campus, please leave a little time availbleilbe to get to your site. Please click Add Another Day if you would like to add to your availibity.  </p>
           <!-- <div class="form-group" id="availability-container"> -->
           <!-- <div class="form-group">
             <a href="javascript:;" id="add-new-day" >Add Another Day</a>
           </div>
           <div class="table-responsive">
           <table id="availability-container" class="table">
             <tr>
              <td>
               <label>{{app_availability_form.day.label}}</label><br>
               <select name="days[]">
                 <option value = "sunday" > Sunday
                 <option value = "monday" > Monday
                 <option value = "tuesday" > Tuesday
                 <option value = "wednesday" > Wednesday
                 <option value = "thursday" > Thursday
                 <option value = "friday" > Friday
                 <option value = "saturday" > Saturday
                </select>
              </td>
              <td>
               <!-- {{app_availability_form.day}} -->
               <label>{{app_availability_form.start_time.label}}</label><br>
               <input name="start_time[]" type="time">
              </td>
              <td> -->
               <!-- {{app_availability_form.start_time}} -->
               <label>{{app_availability_form.end_time.label}}</label><br>
               <input name="end_time[]" type="time">
              </td>
             </tr> --> -->
               <!-- {{app_availability_form.end_time}} -->
               <!-- <div class="input-group-append"> -->
           <!-- </table>
           </div> -->

              <!-- <button class="btn btn-success add-form-row">+</button> -->
           <div class="form-group">
            <button class="btn btn-primary" type="submit">Submit</button>
           </div>
    </form>
</div>
{% endblock %}

{% block customjs %}
<<script type="text/javascript">

let i = 2;
document.getElementById('add-new-day').onclick = function () {
  let template = `
          <td>
            <label>Day</label><br>
            <select name="days[]">
              <option value = "sunday" > Sunday
              <option value = "monday" > Monday
              <option value = "tuesday" > Tuesday
              <option value = "wednesday" > Wednesday
              <option value = "thursday" > Thursday
              <option value = "friday" > Friday
              <option value = "saturday" > Saturday
             </select>
          </td>
          <td>
            <label>Start Time</label><br>
            <input name="start_time[]" type="time">
          </td>
          <td>
            <label>End Time</label><br>
            <input name="end_time[]" type="time">
          </td>
            `;

    let container = document.getElementById('availability-container');
    let div = document.createElement('tr');
    div.innerHTML = template;
    container.insertBefore(div, container.firstChild);

    i++;
}
</script>
{% endblock %}
