{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block content %}
<div class="lead">
    <form action="." method="POST"> {% csrf_token %}
        {{ personal_info_form|crispy }}
        {{ app_data_form|crispy }}
        <p> Please numerically rank your choices for a site placement in order of preference, with 1 being your ideal placement.<p>
           {{ site_placement_rank_form|crispy }}
           <!-- <div class="form-group" id="availability-container"> -->
           <div class="form-group">
             <a href="javascript:;" id="add-new-day" >Add Another Day</a>
           </div>
           <div class="table-responsive">
           <table id="availability-container" class="table">
             <tr>
              <td>
               <label>{{app_availability_form.day.label}}</label>
                <input name="days[1][day]">
              </td>
              <td>
               <!-- {{app_availability_form.day}} -->
               <label>{{app_availability_form.start_time.label}}</label>
               <input name="days[1][start_time]">
              </td>
              <td>
               <!-- {{app_availability_form.start_time}} -->
               <label>{{app_availability_form.end_time.label}}</label>
               <input name="days[1][end_time]">
              </td>
             </tr>
               <!-- {{app_availability_form.end_time}} -->
               <!-- <div class="input-group-append"> -->
           </table>
           </div>

              <!-- <button class="btn btn-success add-form-row">+</button> -->
           <div class="form-group">
            <button class="btn btn-primary" type="submit">Submit</button>
           </div>
    </form>
</div>
{% endblock %}

{% block customjs %}
<<script type="text/javascript">

let i = 2;
document.getElementById('add-new-day').onclick = function () {
  let template = `
          <td>
            <label>Day</label><br>
            <input name="days[${i}][day]">
          </td>
          <td>
            <label>Start Time</label><br>
            <input name="days[${i}][start_time]">
          </td>
          <td>
            <label>End Time</label><br>
            <input name="days[${i}][end_time]">
          </td>
            `;

    let container = document.getElementById('availability-container');
    let div = document.createElement('tr');
    div.innerHTML = template;
    container.insertBefore(div, container.firstChild);

    i++;
}
</script>
{% endblock %}
