{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block content %}
<div class="lead">
    <h1>{{allPersonalInfo.preferred_name}} {{allPersonalInfo.last_name}}</h1>
      <table>
        <tr>
            <td>
              <form action="/edit_student/" method="POST">{% csrf_token %}
                <input type="hidden" name="student_name" value="{{ allPersonalInfo.preferred_name }} {{ allPersonalInfo.last_name }}">
                <input type="hidden" name="student_id" value="{{ allPersonalInfo.student_id }}">
                <button type="submit" class="btn btn-secondary" name = "submit_edit">Edit</button>
              </form>
            </td>
          <td style="width: 100px;">
            {% if allAppData.placement != True %}
            <form action="/placement/" method="POST">{% csrf_token %}
              <input type="hidden" name="student_name" value="{{ allPersonalInfo.preferred_name }} {{ allPersonalInfo.last_name }}">
              <input type="hidden" name="student_id" value="{{ allPersonalInfo.student_id }}">
              <button type="submit" class="btn btn-primary" name="submit_placement">Place</button>
            </form>
            {% endif %}
          </td>
      </tr>
      </table>

  <!--  <a class="btn btn-primary" href="/user/info/edit/?id={{ allAppData.student_id }}" role="button">Edit</a>-->
    <h3>Application Info</h3>
    <p>First name: {{allPersonalInfo.first_name}}</p>
    <p>Preferred name: {{allPersonalInfo.preferred_name}}</p>
    <p>Last name: {{allPersonalInfo.last_name}}</p>
    <p>Pronouns: {{allPersonalInfo.pronouns}}</p>
    <p>Email: {{allPersonalInfo.email}}</p>

    <p>Phone Number: {{allAppData.phone_num}}</p>
    <p>Semester: {{allAppData.semester}}</p>
    <p>Graduation Month: {{allAppData.grad_month}}</p>
    <p>Graduation Year: {{allAppData.grad_year}}</p>
    <p>Time of Form Submission: {{allAppData.timeStamp}}</p>
    <p>Qualifies for work study: {{allAppData.work_study}}</p>
    <p>It is for a class: {{allAppData.for_class}}</p>
    {% if allAppData.for_class == True %}
      <p>Which class: {{allAppData.what_class}}</p>
    {% endif %}
    <p>Has a car: {{allAppData.car}}</p>
    {% if allAppData.car == True %}
      <p>Willing to be a carpool driver: {{allAppData.carpool}}</p>
    {% endif %}
    <p>Desired hours: {{allAppData.wanted_hours}}</p>
    <p>Major: {{allAppData.major}}</p>
    <p>Is fluent in a foreign language: {{allAppData.foreign_lang}}</p>
    {% if allAppData.foreign_lang == True %}
      <p>Which language(s): {{allAppData.languages}}</p>
    {% endif %}
    <p>Has clearances: {{allAppData.clearances}}</p>
    <p>Prior work: {{allAppData.prior_work}}</p>
    <p>Has previously worked at CCEC: {{allAppData.ccec_ws}}</p>
    {% if allAppData.ccec_ws == True %}
      <p>Which site: {{allAppData.previous_site}}</p>
      <p>Would like to remain at current site: {{allAppData.remain_at_site}}</p>
      <p>Would like to keep same schedule: {{allAppData.keep_schedule}}</p>
    {% endif %}
    <p>How they heard about CCEC: {{allAppData.hear_about_ccec}}</p>
    {% if allAppData.placement == True %}
        <h3>Student Placement</h3>
      {% for allPlacement in allPlacement|slice:":1" %}
          <p>Current Site: {{allPlacement.site_info}}</p>
          <p>Driver: {{allPlacement.driver}}</p>
          <p>Total Hours: {{allPlacement.total_hours}}</p>
          <p>Started: {{allPlacement.started}}</p>
          <p>Comments: {{allPlacement.comments}}</p>
      {% endfor %}
          <strong>Current Schedule: </strong>
          {% for schedules in allSchedule %}
            <p>{{schedules.day}} {{schedules.start_time}}-{{schedules.end_time}}</p>
          {% endfor %}
    {% else %}
      <p>Current Placement: None</p>
    {% endif %}
  <h3>Student Availability</h3>
  {% for avail in allAppAvail %}
    <p>{{avail.day}} {{avail.start_time}}-{{avail.end_time}}</p>
  {% endfor %}
</div>

{% endblock %}
