{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block content %}
<!-- <input type="hidden" name="id" value="{{info.personal_info.id}}"> -->
<!--var getID = window.location.href.split('=');
var stud_id = getID[getID.length - 1];
<label> stud_id</label> -->
{% for info in allPersonalInfo %}
<input name = "stud_id" value = "{{ info.student_id }} " >
{% endfor %}


<div class="lead">
<form action="." method="POST"> {% csrf_token %}
  <!--  <label>{{info.personal_info.id}}</label> -->
  <input type="hidden" name="student_id" value="{{ student_id }}">
  <label> Place {{student_name}}</label>
    {{ student_placement_form|crispy }}
    <p>Please add the student's work schedule below.</p>
    <div class="form-group">
      <a href="javascript:;" id="add-new-day" >Add Another Day</a>
    </div>
    <div class="table-responsive">
    <table id="availability-container" class="table">
      <tr>
       <td>
        <label>{{app_availability_form.day.label}}</label><br>
        <select name="student_days[]">
          <option value = "sunday" > Sunday
          <option value = "monday" > Monday
          <option value = "tuesday" > Tuesday
          <option value = "wednesday" > Wednesday
          <option value = "thursday" > Thursday
          <option value = "friday" > Friday
          <option value = "saturday" > Saturday
         </select>
       </td>
       <td>
        <!-- {{app_availability_form.day}} -->
        <label>{{app_availability_form.start_time.label}}</label><br>
        <input name="student_start_time[]" type="time">
       </td>
       <td>
        <!-- {{app_availability_form.start_time}} -->
        <label>{{app_availability_form.end_time.label}}</label><br>
        <input name="student_end_time[]" type="time">
       </td>
      </tr>
        <!-- {{app_availability_form.end_time}} -->
        <!-- <div class="input-group-append"> -->
    </table>
    </div>

       <!-- <button class="btn btn-success add-form-row">+</button> -->
    <div class="form-group">
     <button class="btn btn-primary" type="submit" name="placing_student">Submit</button>
    </div>
  </form>
  </div>
{% endblock %}


{% block customjs %}
<script type="text/javascript">
let i = 2;
document.getElementById('add-new-day').onclick = function () {
  let template = `
          <td>
            <label>Day</label><br>
            <select name="student_days[]">
              <option value = "sunday" > Sunday
              <option value = "monday" > Monday
              <option value = "tuesday" > Tuesday
              <option value = "wednesday" > Wednesday
              <option value = "thursday" > Thursday
              <option value = "friday" > Friday
              <option value = "saturday" > Saturday
             </select>
          </td>
          <td>
            <label>Start Time</label><br>
            <input name="student_start_time[]" type="time">
          </td>
          <td>
            <label>End Time</label><br>
            <input name="student_end_time[]" type="time">
          </td>
            `;
    let container = document.getElementById('availability-container');
    let div = document.createElement('tr');
    div.innerHTML = template;
    container.insertBefore(div, container.firstChild);
    i++;
}
</script>


</script>
{% endblock %}
