{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block content %}

<div class="lead">
  <h1>Welcome, Admin!</h1>
  <p>Search through workstudy records here.</p>
  <h2>Student Info</h2>
  <p>Search through student applications.</p>
  <div class="lead form-inline">
    <form action="{% url 'workstudy:search' %}" method="GET">
      <div class="form-group">
        <label for="q" class="mr-sm-2">Name: </label>
        <input class="form-control mb-2 mr-sm-2" type="text" name="q" id="q" value="{{request.GET.q}}">
      </div>
      <div class="form-group">
        <label for="r" class="mr-sm-2">Email: </label>
        <input class="form-control mb-2 mr-sm-2" type="text" name="r" id="r" value="{{request.GET.r}}">
      </div>
      <!-- Figure out how to use choices from models -->
      <div class="form-group">
        <label for="s">Semester</label>
        <select class="form-control mb-2 mr-sm-2" name="s" id="s" value="{{request.GET.s}}">
          <option>Spring</option>
          <option>Fall</option>
        </select>
      </div>
      <div class="form-group">
        <label for="t">Year</label>
        <select class="form-control mb-2 mr-sm-2" name="t" id="t" value="{{request.GET.t}}">
          {% for year in years %}
          <option>{{year}}</option>
          {% endfor %}
        </select>
      </div>
      <div class="form-group checkbox">
        <label><input class="mb-2 mr-sm-2" type="checkbox" name="u" id="u" value="{{request.GET.u}}">Driver</label>
      </div>

      <button class="btn btn-primary mb-2 mr-sm-2" type="submit">Search</button>
    </form>
  </div>
  <div class="lead">
    <p>Search results:</p>
    <div class="card">
      <ul class="list-group list-group-flush">
        {% for obj in items %}
        <li class="list-group-item">  {{obj.first_name}} {{obj.last_name}} {{obj.email}}</li>
        {% endfor %}
      </ul>
    </div>
  </div>
</div>

{% endblock %}
