{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block content %}

<div class="lead">
  <h1>Student Placements</h1>
  <p>Search through student placements here. These students have been placed at a site.</p>
  <hr>
  <h3>General Search</h3>
  <p>Search for keywords across all student placement data.</p>
  <div class="lead form-inline">
    <form action="{% url 'workstudy:student_placement_search' %}" method="GET">
      <div class="form-group form-inline">
        <input class="form-control mb-2 mr-sm-2" type="text" name="a" id="a" value="{{request.GET.a}}">
        <button class="btn btn-primary mb-2 mr-sm-2" type="submit">Search</button>
      </div>
    </form>
  </div>
  <hr>
  {% if searchType == 1 %}
  <div class="lead">
    <p>Search results:</p>
    <div class="card">
      <ul class="list-group list-group-flush">
        {% for obj in PerInfo %}
        <li class="list-group-item"><a href="/user/info/?id={{ obj.student_id }}">{{obj.first_name}} {{obj.last_name}} {{obj.email}}</a></li>
        {% endfor %}
        {% for obj in StudPlace %}
        <li class="list-group-item"><a href="/user/info/?id={{ obj.student_id }}">{{obj.first_name}} {{obj.last_name}} {{obj.email}}</a></li>
        {% endfor %}
        {% for obj in StudSched %}
        <li class="list-group-item"><a href="/user/info/?id={{ obj.student_id }}">{{obj.first_name}} {{obj.last_name}} {{obj.email}}</a></li>
        {% endfor %}
        {% for obj in SiteInfo %}
        <li class="list-group-item"><a href="/user/info/?id={{ obj.student_id }}">{{obj.first_name}} {{obj.last_name}} {{obj.email}}</a></li>
        {% endfor %}
      </ul>
    </div>
  </div>
  <hr>
  {% endif %}
  <h3>Advanced Search</h3>
  <p>Filter search by fields.</p>
  <div class="lead form-inline">
    <form action="{% url 'workstudy:student_placement_search' %}" method="GET">
        <div class="form-group">
          <label for="p" class="mr-sm-2">First Name: </label>
          <input class="form-control mb-2 mr-sm-2" type="text" name="p" id="p" value="{{request.GET.p}}">
        </div>
        <div class="form-group">
          <label for="q" class="mr-sm-2">Last Name: </label>
          <input class="form-control mb-2 mr-sm-2" type="text" name="q" id="q" value="{{request.GET.q}}">
        </div>
        <div class="form-group">
          <label for="r" class="mr-sm-2">Email: </label>
          <input class="form-control mb-2 mr-sm-2" type="text" name="r" id="r" value="{{request.GET.r}}">
        </div>
        <div class="form-group">
          <label for="x">Semester: </label>
          <select class="form-control mb-2 mr-sm-2" name="x" id="x" value="{{request.GET.x}}">
            <option disabled selected value>-- select an option -- </option>
            {% for year in years %}
            <option>{{year}}</option>
            {% endfor %}
          </select>
        </div>
        <div class="form-group">
          <label for="s" class="mr-sm-2">Site Name: </label>
          <input class="form-control mb-2 mr-sm-2" type="text" name="s" id="s" value="{{request.GET.s}}">
        </div>
        <div class="form-group">
          <label for="t">Day: </label>
          <select class="form-control mb-2 mr-sm-2" name="t" id="t" value="{{request.GET.t}}">
            <option disabled selected value>-- select an option -- </option>
            <option>Monday</option>
            <option>Tuesday</option>
            <option>Wednesday</option>
            <option>Thursday</option>
            <option>Friday</option>
            <option>Saturday</option>
            <option>Sunday</option>
          </select>
        </div>
        <div class="form-group">
          <label for="u" class="mr-sm-2">Start time: </label>
          <input class="form-control mb-2 mr-sm-2" type="time" name="u" id="u" value="{{request.GET.u}}">
        </div>
        <div class="form-group">
          <label for="v" class="mr-sm-2">End time: </label>
          <input class="form-control mb-2 mr-sm-2" type="time" name="v" id="v" value="{{request.GET.v}}">
        </div>
        <button class="btn btn-primary mb-2 mr-sm-2" type="submit">Search</button>
        </form>
    </div>
    <hr>
    {% if searchType == 2 %}
    <div class="lead">
      <p>Search results:</p>
      <div class="card">
        <ul class="list-group list-group-flush">
          {% for obj in PerInfo %}
            <li class="list-group-item"><a href="/user/info/?id={{ obj.student_id }}">{{obj.first_name}} {{obj.last_name}} {{obj.email}}</a></li>
          {% endfor %}
          {% for obj in StudPlace %}
            <li class="list-group-item"><a href="/user/info/?id={{ obj.student_id }}">{{obj.first_name}} {{obj.last_name}} {{obj.email}}</a></li>
          {% endfor %}
          {% for obj in StudSched %}
            <li class="list-group-item"><a href="/user/info/?id={{ obj.student_id }}">{{obj.first_name}} {{obj.last_name}} {{obj.email}}</a></li>
          {% endfor %}
          {% for obj in SiteInfo %}
            <li class="list-group-item"><a href="/user/info/?id={{ obj.student_id }}">{{obj.first_name}} {{obj.last_name}} {{obj.email}}</a></li>
          {% endfor %}
        </ul>
      </div>
    </div>
    <hr>
    {% endif %}
</div>

{% endblock %}
